<div id="post-<%= post._id %>">

  <small class="text-align-end">

    <% if (locals.user && locals.user.id==post.user._id){%> <a class="delete-post-button"
      href="/posts/destroy/<%= post.id %>"><img
        src="https://img.icons8.com/cute-clipart/15/000000/delete-forever.png" /></a>
    <!-- <span><a href="<%= locals.user._id %>">Local User</a></span><a href="<%= post.user %>">Post User</a> -->
    <%}%>
  </small>

  <p>
    <%= post.content %>
    <div id="date">
      <small class="one-space-right"> <%= post.date %></small><small><%= post.user.name%></small>
    </div>
    </p>

</div>