<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/css/_post.css">

  <%- style %>
</head>

<body>
  <%- include('_header'); %>
  <main>
    <div id="layout-main">
      <%- body %>
    </div>
  </main>

  <%- include('_footer'); %> <%- script %>
</body>

</html>